body {
  display: block;
  max-width: 1300px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.65;
  color: #393d41;
  background-color: #eff2f3;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #1da2c7;
  line-height: 1.5;
}

.logo-container {
  background-color: black;
  height: 5rem;
  line-height: 5rem;
  text-align: left;
}

.logo {
  height: 3.1rem;
  vertical-align: left;
  margin: 0.6rem 0 0 4.4rem;
}

.top {
  background-image: url('./banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #131414;
  padding: 4.4rem 3.8rem;
}

.top-text {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.top h1 {
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
}

.top p {
  margin-bottom: 1.3rem;
}

.cta {
  background-color: #f04c2f;
  color: #eff2f3;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6rem 1.9rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-bottom: 5%;
}

.main-layout {
  padding: 2.5rem;
}

.intro {
  overflow: auto;
  margin-bottom: 3.1rem;
}

.circle-img {
  float: left;
  width: 18.8rem;
  height: 18.8rem;
  border-radius: 50%;
  margin-right: 2.5rem;
  object-fit: cover;
}

.intro-text {
  overflow: hidden;
}

.testimonials {
  background-color: #e22d0e;
  color: #eff2f3;
  padding: 1.9rem 1.3rem;
  text-align: center;
  margin-bottom: 3.1rem;
}

.testimonials .quote {
  font-style: italic;
  margin: 0.9rem 0;
}

.testimonials h1 {
  color: #eff2f3;
}

.cards {
  overflow: auto;
  margin-bottom: 3.1rem;
  margin-left: 2.1rem;
  margin-right: 2.1rem;
}

.card {
  width: 32%;
  height: 370px;
  float: left;
  margin-right: 2%;
  border: 0.1rem solid #dee1e3;
  padding: 0.6rem;
  box-sizing: border-box;
  text-align: center;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 100%;
  border-radius: 0.3rem;
}

.footer {
  background-color: #25a2c3;
  color: #ffffff;
  text-align: center;
  padding: 1.3rem;
  clear: both;
}

.footer h2 {
  color: #eff2f3;
  font-size: 1.7rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0.4rem 0;
}

.contact-list li {
  margin-bottom: 0.6rem;
}

.contact-list a {
  color: #eff2f3;
  font-size: 1.1rem;
  text-decoration: none;
}

.contact-list a {
  text-decoration: underline;
}

.footer li {
  color: #eff2f3;
  margin-bottom: 0.3rem;
}

footer hr {
  border: none;
  border-top: 0.1rem solid #c8e7f0;
  margin: 1.1rem auto;
  width: 70%;
}

.footer .copyright {
  color: #c8e7f0;
  margin-top: 0.6rem;
  font-size: 0.7rem;
}
